.root {
  -fx-background-color: white;
}

.butt_teach{
  -fx-background-image: url("nana2.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;
}

.butt_teach:hover{
  -fx-background-image: url("nanaHover.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;
}


.butt_yes{
  -fx-background-image: url("Yes_Button.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;
}

.butt_yes:hover{
  -fx-background-image: url("Yes_Button_Hover.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;
}

.butt_no{
  -fx-background-image: url("No_Button.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;
}

.butt_no:hover{
  -fx-background-image: url("No_Button_Hover.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;

}

.butt_sound{
  -fx-background-image: url("soundOn.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;
}
.butt_no_sound{
  -fx-background-image: url("soundOff.png");

  -fx-background-size: 100% 100%;

  -fx-background-repeat: no-repeat;
}


